@page "/ConsultaProductos"
@inject HttpClient httpClient

<label>ID</label>
<div class="input-group">

</div>

@code
{
    public Entradas entradas { get; set; } = new Entradas();
    public int Filtrar { get; set; }
    
}